*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    padding: 50px 0px;
}

.container{
    margin: 0 auto;
}


a{
    text-decoration: none;
}


@media screen and (min-width: 800px) {

    .container{
        width: 1320px;
    }
    header {
    background-color: lightblue;
    color: white;
    padding: 10px 0;
    text-align: center;


}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    img {
        height: 85px;
        background-color: lightblue;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0 15px;
        padding: 20px;
        font-size: 30px;
        li {
            margin: 0 15px;
        }
        a {
            color: white;
        }
    }
}

.about-content {
    text-align: center;
    padding: 50px;
    font-size: 25px;
    color: white;
    p {
        padding: 10px 0px;
    }
}

      .products {
    h2 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 20px;
    }
    .video-gallery {
        display: flex;
        flex-wrap: wrap;
        .video-card {
            width: 390px;
            margin-left: 45px;
            margin-bottom: 40px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            p {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 20px;
                margin: 10px 0;
            }
            img {
                width: 80%;
                 height: auto;
                padding-left: 100px;
                padding-top: 40px;
                padding-right: 25px;
            }
            
                #ipad {
                    padding-top: 90px;
                }
                #iphone {
                    padding-top: 70px;
                }
                #razer {
                    padding-top: 100px;
                }
                #gopro {
                    padding-top: 70px;
                }
                #logitech {
                    padding-top: 55px;
                }
                #kufje {
                    padding-top: 80px;
                }
                #tastiere {
                    padding-top: 140px;
                }
                #controller {
                    padding-top: 90px;
                }
                #VR {
                    padding-top: 120px;
                }
                #printer {
                    padding-top: 80px;
                }
        }
    }

}

#About {

    background-image: url('https://www.techworld-it.com/images/About2024717132122.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 806px;

    .gallery {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 50px;
        gap: 100px;

        .card {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 300px;
            text-align: center;
            padding: 20px;

            img {
                width: 70%;
                border-radius: 10px 10px 0 0;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    padding: 40px;

    .kontaktet {
        list-style: none;
        color: white;
        font-size: 25px;

        li {
            margin: 10px 0;
        }
    }
    .social {
        list-style: none;
        /* display: flex; */
        

        li {
            margin: 0 10px;
            width: 40px;
            i {
                padding: 10px 20px;
                font-size: 30px;
                color: white;
            }
        }
    }
}
}